.new-product__controls {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
    text-align: left;
  }
  
  .new-product__control label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
  }
  
  .new-product__control input {
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 20rem;
    max-width: 100%;
  }
  
  .new-product__actions {
    text-align: right;
  }
  .new-product__control.invalid label {
    color: red;
  }
  .new-product__control.invalid input {
    border-color: red;
  }
  ​​@media (max-width: 768px) {
    .new-product__actions {
      text-align: center;
    }
  }
  